/* LILY'S TAGS */

.Navigation {
  background-color: rgb(230, 211, 211);
  text-align: left;
  height: 50px;
  width: 100%;
}

a, a:link, a:active, a:visited {
  transition: background-color 0.25s ease-out; 
	-webkit-transition: background-color 0.25s ease-out; 
	-moz-transition: background-color 0.25s ease-out; 
	-o-transition: background-color 0.25s ease-out;
}

.Navigation a:link { color:black; }
.Navigation a:visited { color:black; }
.Navigation a:hover { color:rgb(214, 75, 110); }
.Navigation a:active { color:rgb(156, 80, 99); }

.dropdown-item:active{ color: white !important; 
  background-color:rgb(88, 41, 53) !important;
}

.BodyDark {
  padding: 50px;
  text-align: left;
  color: white;
  background-color: rgb(69, 70, 80);
}

.BodyLight {
  padding: 50px;
  text-align: left;
  color: rgb(69, 70, 80);
  background-color: rgb(233, 233, 233);
}

.BodyVT {
  padding: 50px;
  text-align: left;
  color: white;
  background-color: rgb(153, 76, 101);
}

.BodyVT h1 { color: rgb(255, 206, 168); }

.rounded-pill--custom1 { 
  background-color: rgb(153, 76, 101);
  margin: 1px 2px;
}

.rounded-pill--custom2 { 
  background-color: rgb(134, 108, 141);
  margin: 1px 2px;
}

.rounded-pill--custom3 { 
  background-color: rgb(107, 105, 136);
  margin: 1px 2px;
}

#media .modal-content {
  color: black;
  width: 590px;
  height: 315px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#media a:link { color:rgb(255, 255, 255); }
#media a:visited { color:rgb(255, 255, 255); }
#media a:hover { color:rgb(179, 52, 84); }
#media a:active { color:rgb(252, 122, 155); }

/* LILY'S TAGS */

.App {
  color: black;
  background-color: white;
}

.App-logo {
  height: 40px;
  width: 40px;
}

.App-header {
  background-color: #353c3d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61c2fb;
}